body
{
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	background-image: url("img/lines.php");
}
.white
{
	color: #999999;
	font: 11px verdana, arial, sans-serif;
	background-color: white;
	width: 290px;
	height: 100%;
}
.shadow
{
	width: 10px;
	height: 100%;
	background-image: url("img/shadow.gif");
}
.logo
{
	padding: 10px;
}

.head
{
	padding: 55px 10px 10px 10px;
}
.text
{
	font: 11px verdana, arial, sans-serif;
	color: #999999;
	background-color: transparent;
	padding: 10px;
}
a:link, a:visited
{
	color: #333333;
	background-color: transparent;
	text-decoration: none;
}
a:hover
{
	color: white;
	background-color: #cccccc;
	text-decoration: none;
}
a:active
{
	color: red;
	background-color: transparent;
	text-decoration: none;
}
.choice
{
	padding: 2px;
	color: #333333;
	background-color: transparent;
	margin: 2px;
}
.list
{
	padding: 2px;
	color: #333333;
	margin: 2px;
	background-color: #f5f5f5;
}
.copyright
{
	font: 10px verdana, arial, sans-serif;
	color: #cccccc;
	background-color: transparent;
	text-align: center;
	position: absolute;
	top: 95%;
	padding: 10px;
	margin: auto;
}

.bio
{
	font: 11px verdana, arial, sans-serif;
	color: #999999;
	background-color: #f5f5f5;
	padding: 5px;
	margin-left: 17px;
	margin-right: 2px;
	margin-bottom: 10px;
}

.mark
{
	color: red;
	background-color: transparent;
}