td#content div p {
	margin-left: 20px;
	text-align: left;
}
td#content p.contact {
	font-size: 11px;
	padding: 5px 5px 5px 20px;
	background-color: #eee;
	border-left: 1px solid #ccc;
}
td#content p.contact a, td#content p.contact strong {
	font-size: 13px;
	font-weight: normal;
	margin-left: 10px;
}
div#agenciesNav {
	margin-top: 40px;
	text-align: center;
}

table#agenciesTable {
	margin: auto;
}
table#agenciesTable tr td {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
}