body {
    background: #eee;
    margin: 0;
    padding: 20px;
    color: #333;
    font: 15px georgia;
    min-width: 1024px;
}

a {
    color: #000;
    border-bottom: 1px dotted #666;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    margin-bottom: 40px;
    font-size: 24px;
    margin-left: 30px;
}
h1 span {
    font-size: 18px;
    text-transform: lowercase;
    margin-left: -30px;
    font-style: italic;
}

section {
    display: table-cell;
    vertical-align: top;
    margin: 20px 20px 0 0;
}

.intro {
    width: 250px;
    padding-right: 40px;
}
.intro p, .intro li {
    line-height: 1.5;
}
.intro p:first-child {
    margin-top: 0;
}
.intro li {
    font-size: 13px;
    margin-bottom: 10px;
}

.versions {
    margin-top: -10px;
}

.logo {
    background-color: #fff;
    padding: 2px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.15);
    box-shadow: 0 0 4px rgba(0,0,0,.15);
}

.versions h2 {
    font-size: 18px;
    margin: 30px 0 20px;
    font-style: italic;
}
.versions h2:first-child {
    margin-top: 0;
}
.versions h2 span {
    font-style: italic;
}

.site {
    width: 200px;
    background: #fff;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px 0;
    font-size: 12px;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);;
}
.site img {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border: none;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.15);
    box-shadow: 0 0 4px rgba(0,0,0,.15);
}
.site h3 {
    font-size:;
}

.site h3 span {
    color: #666;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 11px;
}

.site p {
    margin: 0;
}


footer {
    display: block;
    font: 11px "Lucida Grande", Verdana, sans-serif;
    color: #666;
    margin-top: 40px;
    border-top: 1px dotted #999;
    padding-top: 20px;
}
