@import "nav.css";
@import "content.css";

body {
	background-color: #eee;
	color: #333;
	margin: 50px 10%;
	padding: 0px;

	/* for damned IE */
	text-align: center;

	font-family: "trebuchet ms",verdana,arial,sans-serif;
}
div#document {
	background-color: #fff;
	text-align: left !important;
	min-width: 500px;
	max-width: 800px;
	margin: auto;
}


div#header {
	height: 100px;
	margin: 0px;
	padding: 0px;
	background: #004489 url(../img/uw-logo.gif) right no-repeat;
}
div#header h1 {
	margin: 0px;
	padding: 0px;
	height: 100px;
	width: 308px;
	overflow: hidden;
	background: url(../img/logo.gif) no-repeat;
	text-indent: -100em;
}


div#news {
	width: 200px;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px dotted #ccc;

	font-size: 12px;
	color: #333;
	line-height: 175%;

	/* Fix IE's double-margin bug: */
	display: inline;
}
div#news h2 {
	margin: 0px;
	padding: 0px;
	height: 19px;
	width: 146px;
	overflow: hidden;
	text-indent: -100em;
	background: url(../img/h2/news-and-events.gif) no-repeat;
}


div#footer {
	background-color: #7587B7;
	border-top: 1px solid #A3B0D4;
	border-bottom: 1px solid #48609D;
	border-right: 1px solid #48609D;
	padding: 5px 20px;
	text-align: right;
	font: 10px verdana,sans-serif;
	color: #fff;
}
