/*

{0}  Darkest
{1}
{2}  Lightest

*/

body.WhoWeAre { background-color: #888BBF !important; }
body.WhoWeAre div#content h1 { color: #10167F !important; }
body.WhoWeAre div#content h3 { color: #10167F !important; }
body.WhoWeAre div#document {
	border-top-color: #10167F !important;
	border-bottom-color: #10167F !important;
}


body.WhatWeDo { background-color: #FF9185 !important; }
body.WhatWeDo div#content h1 { color: #FE230A !important; }
body.WhatWeDo div#content h3 { color: #FE230A !important; }
body.WhatWeDo div#document {
	border-top-color: #FE230A !important;
	border-bottom-color: #FE230A !important;
}


body.LearnMore { background-color: #FFCB80 !important; }
body.LearnMore div#content h1 { color: #FF9600 !important; }
body.LearnMore div#content h3 { color: #FF9600 !important; }
body.LearnMore div#document {
	border-top-color: #FF9600 !important;
	border-bottom-color: #FF9600 !important;
}


/* Navigation colors */
div#nav ul li.WhoWeAre { color: #10167F !important; }
div#nav ul li.WhoWeAre ul { border-left-color: #888BBF !important; }
div#nav ul li.WhoWeAre a { color: #10167F !important; }
div#nav ul li.WhoWeAre span { color: #C4C5DF !important; }
div#nav ul li.WhoWeAre a:hover {
	background-color: #C4C5DF !important;
	border-left-color: #888BBF !important;
}

div#nav ul li.WhatWeDo { color: #FE230A !important; }
div#nav ul li.WhatWeDo ul { border-left-color: #FF9185 !important; }
div#nav ul li.WhatWeDo a { color: #FE230A !important; }
div#nav ul li.WhatWeDo span { color: #FFC8C2 !important; }
div#nav ul li.WhatWeDo a:hover {
	background-color: #FFC8C2 !important;
	border-left-color: #FF9185 !important;
}

div#nav ul li.LearnMore { color: #FF9600 !important; }
div#nav ul li.LearnMore ul { border-left-color: #FFCB80 !important; }
div#nav ul li.LearnMore a { color: #FF9600 !important; }
div#nav ul li.LearnMore span { color: #FFE5C0 !important; }
div#nav ul li.LearnMore a:hover {
	background-color: #FFE5C0 !important;
	border-left-color: #FFCB80 !important;
}
