/*

{0}  Darkest
{1}
{2}  Lightest

*/

body.WhoWeAre { background-color: $blue_medium$ !important; }
body.WhoWeAre div#content h1 { color: $blue_dark$ !important; }
body.WhoWeAre div#content h3 { color: $blue_dark$ !important; }
body.WhoWeAre div#document {
	border-top-color: $blue_dark$ !important;
	border-bottom-color: $blue_dark$ !important;
}


body.WhatWeDo { background-color: $red_medium$ !important; }
body.WhatWeDo div#content h1 { color: $red_dark$ !important; }
body.WhatWeDo div#content h3 { color: $red_dark$ !important; }
body.WhatWeDo div#document {
	border-top-color: $red_dark$ !important;
	border-bottom-color: $red_dark$ !important;
}


body.LearnMore { background-color: $gold_medium$ !important; }
body.LearnMore div#content h1 { color: $gold_dark$ !important; }
body.LearnMore div#content h3 { color: $gold_dark$ !important; }
body.LearnMore div#document {
	border-top-color: $gold_dark$ !important;
	border-bottom-color: $gold_dark$ !important;
}


/* Navigation colors */
div#nav ul li.WhoWeAre { color: $blue_dark$ !important; }
div#nav ul li.WhoWeAre ul { border-left-color: $blue_medium$ !important; }
div#nav ul li.WhoWeAre a { color: $blue_dark$ !important; }
div#nav ul li.WhoWeAre span { color: $blue_light$ !important; }
div#nav ul li.WhoWeAre a:hover {
	background-color: $blue_light$ !important;
	border-left-color: $blue_medium$ !important;
}

div#nav ul li.WhatWeDo { color: $red_dark$ !important; }
div#nav ul li.WhatWeDo ul { border-left-color: $red_medium$ !important; }
div#nav ul li.WhatWeDo a { color: $red_dark$ !important; }
div#nav ul li.WhatWeDo span { color: $red_light$ !important; }
div#nav ul li.WhatWeDo a:hover {
	background-color: $red_light$ !important;
	border-left-color: $red_medium$ !important;
}

div#nav ul li.LearnMore { color: $gold_dark$ !important; }
div#nav ul li.LearnMore ul { border-left-color: $gold_medium$ !important; }
div#nav ul li.LearnMore a { color: $gold_dark$ !important; }
div#nav ul li.LearnMore span { color: $gold_light$ !important; }
div#nav ul li.LearnMore a:hover {
	background-color: $gold_light$ !important;
	border-left-color: $gold_medium$ !important;
}